.content-list {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.content-list-head {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    display: inline;
    color: #353535;
    margin-top: 40px;
    line-height: 2px;
}

.content-list p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 1.5;
    color: #353535;
}

.content-sublist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 25px;
}

.content-sublist p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 0px;
    line-height: 1.5;
    color: #353535;
}

.content-list-section {
    margin-top: 25px;
}

.content-list-imgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .selectors {
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.unselectedButton {
    height: 40px;
    text-decoration: none;
    background-color: white;
    color: #353535;
    border: 2px solid #353535;
    border-radius: 30px;
    width: 15%;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 15px;
    margin-right: 15px;
    padding: 1px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedButton {
    text-decoration: none;
    background-color: #353535;
    color: white;
    border: 2px solid #353535;
    border-radius: 30px;
    width: 15%;
    height: 40px;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 15px;
    margin-right: 15px;
    padding: 1px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */